.header-toc {
    display: table;
    margin: auto auto;
    text-align: center;
    list-style-type: none;
    color: white;    
    padding-left: 0;
    list-style-position: inside;
}

.toc-anchor {
    color: white;
    font-family: inherit;
}
