.header-toc {
    column-count: 2;    
    list-style-type: none;
    color: white;
    text-align: centre;
    position: centre;
    padding-left: 40%;
    padding-right: 40%;
}

.toc-anchor {
    color: white;
    font-family: inherit;
}
